@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --midnigth-green: #014e56;
    --ligth-coral: #f67e7e;
    --white: #fff;
    --rapture-blue: #79c8c7;
    --police-blue: #2c6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012f34;
    --dark-green: #002529;
}

.meet{
    background-color: var(--deep-jungle-green);
    h2 {
        font-weight: 700;
        font-size: 2rem;
        padding: 3.75rem 0 2.5rem 0;
    }
}

.directors{
    background-color: var(--sacramento-state-green);
    /* border: 50px solid var(--sacramento-state-green); */
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.avatar{
    border: 2px solid var(--white);
    border-radius: 50%;
    margin: 10px;
    width: 3.1rem;
    height: 3.1rem;
}

.marks{
    color: var(--rapture-blue);
}

.cross{
    display: flex;
    align-items: center;
    background-color: var(--ligth-coral);
    padding: 20px;
    border: none;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.close{
    background-color: var(--rapture-blue);
    border: 20px solid var(--rapture-blue);
    border-radius: 50px;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 30px);
}

/* .aden{
    background-color: var(--dark-green);
    border: 50px solid var(--dark-green);
    border-radius: 250px;
} */

.empowered{
    padding: 0 3rem 0.6rem 3rem;
}

.svg{
    padding:1.25rem 0 0.6rem 9rem;
    display: flex;
    gap: 1rem;
}

.some{
    background-color: var(--sacramento-state-green);
    h3{
        font-weight: 700;
        font-size: 2rem;
        padding: 3.75rem 0 2.5rem 0;
    }
    img{
        height: 1.25rem;
        display: flex;
        margin: 2.5rem; 
    }
}