@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color{
    background-color: var(--midnigth-green);
}

.about {
  padding: 7.5rem 1.25rem 0 1.25rem;
  h1 {
    padding: 0 3.1rem;
    span {
      color: var(--ligth-coral);
    }
  }
  .ask {
    font-weight: 700;
    font-size: 2rem;
    margin: 1.25rem;
    color: var(--ligth-coral);
  }
}

.usage{
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.icon-img{
  position: relative;
  top: 1.8rem;
}

/* 
.icon-chart{
  margin-right: 60px;
} */

.rel{
  margin-right: 5.3rem;
}

.rela{
  margin-right: 1.25rem;
}

/* .relation{
  padding: 10px 10px 10px 10px;
} */

form{
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

form input, textarea, .submit{
  background: none;
  border: none;
  font-weight: 600;
  margin: 1.25rem;
}

form input, textarea{
  font-family: "livvic", sans-serif;
  padding: 20px;
  border-bottom: 1px solid var(--white);
  opacity: 60%;
}

.submit {
  opacity: 100%;
}

/* .sub{
  padding: 10px 10px 10px 10px;
} */

.submit{
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 3.1rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  width: 7.6rem;
  font-size: 1.1rem;
}