@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'livvic', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: 2rem;
  color: #FFFFFF;
  background-color: #014E56;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

.toolbar{
  width: 110%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 3rem 2rem 3rem;
}

.menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -100%;
  top: 0;
  width: 75dvw;
  height: 100dvh;
  background-color: #014E56;
  padding: 50px 20px 0 20px;
  transition: 400ms ease-out; 
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

header a, a:visited, a:active{
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  color: #FFFFFF;
}


.open{
  right: 0;
}

.close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
}

.hero{
  padding: 120px 20px 200px 20px;
}

.talent{
  color: #F67E7E;
}

.hero h1{
  padding: 0 50px;
}

.hero p{
  padding: 20px;
}

.btn-dark{
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  animation: none;
}

main{
  background: #012F34;
}

.build{
  text-align: start;
  width: 240px;
  height: 200px;
  font-size: 32px;
}

.experienced{
  color: #F67E7E;
  line-height: 50px;
}

.network{
  opacity: 80%;
  font-weight: 600;
  font-size: 15px;
}

.results{
  background-color: #004047;
}

.delivering{
  width: 327px;
  margin: 1.5rem 0;
  font-size: 32px;
}

.success{
  color: #79C8C7;
}

blockquote{
  margin: 1rem 0;
  width: 327px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.ready{
  background-color: #F67E7E;
  color: #012F34;
}

.smalk{
  background-color: #002529;
}

.homa{
  flex-direction: row;
  text-decoration: none;
  color: #FFFFFF;
}

.address{
  opacity: 45%;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.liens{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 3rem 2rem 3rem;
}