@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --midnigth-green: #014e56;
  --ligth-coral: #f67e7e;
  --white: #fff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;
}

body {
  font-family: "livvic", sans-serif;
  color: var(--white);
  background-color: var(--midnigth-green);
  text-align: center;
}

ul {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white);
}

a.btn-dark,
a.btn-dark:visited,
a.btn-dark:active{
    border: 2px solid var(--dark-green);
    border-radius: 1.8rem;
    color: var(--dark-green);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.h1-large,
.h1-small,
.h2,
.h3 {
  font-weight: 700;
}

.h1-large {
  font-size: 6.25rem;
  line-height: 6.25rem;
}

.h1-small {
  font-size: 4rem;
  line-height: 3.5rem;
}

.h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.h3 {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.body1,
.body2 {
  font-weight: 600;
}

.body1 {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.body2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.8rem 0.6rem 1.8rem;
  position: fixed;
  width: 100dvw;
  background-color: var(--midnigth-green);
  z-index: 9;
}

.menu {
  position: absolute;
  right: -100%;
  top: 0;
  width: 75dvw;
  height: 100dvh;
  background-color: var(--midnigth-green);
  padding: 3.1rem 1.25rem 0 1.25rem;
  transition: 400ms ease-out;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    a {
      border: 1px solid white;
      border-radius: 20px;
      padding: 0.3rem 0.9rem;
    }
  }
}

.open {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.25rem;
}

.hero {
  padding: 7.5rem 1.25rem 12.5rem 1.25rem;
  h1 {
    padding: 0 3.1rem;
    span {
      color: var(--ligth-coral);
    }
  }
  p {
    padding: 1.25rem;
    line-height: 1.75rem;
  }
}

main{
  background-color: var(--sacramento-state-green);
}

.build{
  margin: 1.5rem;
  text-align: start;
  width: 15rem;
  height: 10rem;
  font-size: 2rem;
}

.icon{
  margin: 1.25rem;
}

.experienced{
  line-height: 3.1rem;
  color: var(--ligth-coral);
}

.network{
  opacity: 80%;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.results{
  background-color: var(--deep-jungle-green);
}

.delivering{
  margin: 1.5rem 0;
  font-size: 2rem;
}

.success{
  color: var(--rapture-blue);
}

blockquote{
  margin: 1rem 0;
  font-weight: 600;
  line-height: 1.5rem;
}

hgroup img{
  border: 2px solid var(--white);
  border-radius: 3.1rem;
  width: 3.1rem;
  height: 3.1rem;
}

.ready{
  padding: 2.5rem 0.6rem 3.1rem 0.6rem;
  background-color: var(--ligth-coral);
  color: var(--sacramento-state-green);
}

.started{
  margin: 1.25rem;
}

.smalk{
  background-color: var(--dark-green);
}

.logo{
  margin-top: 2.5rem;
}

.icon-list{
  display: flex;
  gap: 2rem;
  padding: 1.25rem 9.3rem 1.25rem;
  color: var(--white);
}

.address{
  opacity: 45%;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.liens{
  padding:1.25rem 0 0.6rem 9.3rem;
  display: flex;
  gap: 1rem;
}

@media  screen and (min-width: 640px) {
  body{
    padding: 0;
  }
  .build{
    width: 27.8rem;
    padding: 9.3rem 0 0;  
  }
  .icon{
    margin-right: 40.3rem;
    position: relative;
    top: 5.9rem;
  }
  .experienced{
    padding: 0 21.8rem 0 2.5rem;
    font-weight: 700;
    font-size: 1.1rem;
  }
  .network{
    padding: 0 15.6rem 0 11.5rem;
    text-align: start;
  }
  .delivering{
    padding: 4.3rem 13.75rem 4.3rem 13.75rem;
  }
  blockquote{
    padding: 0 9rem 0 9rem;
  }
  hgroup img{
    border: 2px solid var(--white);
    border-radius: 3.1rem;
    width: 3.1rem;
    height: 3.1rem;
  }
  .ready{
    font-weight: 700;
    font-size: 2rem;
    /* display: flex;
    gap: 2rem; */
  }
  .logo{
    padding: 1.25rem 27.1rem 0 0;
  }
  .address{
    margin-left: 28.75rem;
  }
}